@media (max-width: 670px) {
    .nav__item--language {
        display: none;
    }
    
}

@media (max-width: 767px) {
   .wrapper--black {
        display: none;
    }
    
    .nav__item {
        color: black;
    }
    
    .header {
        height: 70px;
    }
    
    .nav {
        width: 100%;
        height: 70px;
    }
    
    .nav__btn {
        width: 70px;
        height: 70px;
    }
    
    .description__image {
        display: none;
    }
    
    .description__image--media {
        max-width: 100%;
        max-height:  100%;
        
        display: flex;
        justify-content: center;
        z-index: -1;
        background: url(../img/media.png);
        background-size: cover;
    }

    .lead__text, .lead-nav, .adress, .nav__item--image {
        display: none;
    }
    
    .lead {
        display: flex;
        flex-direction: column;
        align-self: flex-end;
    }
    
    .lead__title {
        display: flex;
        align-items: center;
        flex-direction: column;
        
        width: 100px;
        font-size: 65px;
        line-height: 65px;
    }

    
    .lead__title--media {
        width: 30px;
        height: 18px;
        margin-top: 10px;
    }

}
 
}

@media (min-width: 768px) and (max-width: 991px) {

    .nav {
        width: 100%;
        height: 90px;
    }
    
    .description__image {
        max-width: 470px;
        height: 482px;
    }
    
    .description {
        display: flex;
        align-items: center;
        align-self: center;
    }
    
    .lead__title {
        font-size: 45px;
        line-height: 45px;
        margin: 26px 0 0 26px;
    }
    
    .lead__title--media {
        display: none;
    }
    
    .lead__text {
        margin: 20px 0 0 26px;
    }
    
    .lead-nav__item {
        padding: 14px;
        font-size: 12px;
        text-align: center;
    }
    
    .lead-nav__img, .adress__item--center {
        display: none;
    }
}



@media (min-width: 992px) and (max-width: 1199px) {
    .nav {
        width: 100%;
        height: 90px;
    }
    
    .description__image {
        max-width: 549px;
        height: 562px;
    }
    
    .description {
        display: flex;
        align-items: center;
        align-self: center;
    }
    
    .lead__title {
        font-size: 60px;
        line-height: 60px;
        margin: 26px 0 0 26px;
    }
    
    .lead__text {
        margin: 20px 0 0 26px;
    }
    
    .lead-nav__item {
        padding: 14px;
        font-size: 12px;
    }
    
     .adress__item--center {
        display: none;
    }
    
    .lead-nav__img {
        width: 30px;
    }

}

@media (max-width: 997px) {
    .lead-nav__item {
        padding: 10px;
        font-size: 10px;
    }
}


@media (max-width: 1152px) {
    .lead-nav__img {
        width: 30px;
    }
    
    .lead-nav__item {
        padding: 14px;
        font-size: 12px;
    }
}

@media (max-width: 1072px) {
    .lead-nav__item {
        padding: 13px;
        font-size: 12px;
    }
}

@media (max-width: 1062px) {
    .lead-nav__item {
        padding: 12px;
        font-size: 11px;
    }
}


@media (min-width: 768px) and (max-width: 991px) {

    .nav {
        width: 100%;
        height: 90px;
    }
    
    .description__image {
        max-width: 470px;
        height: 482px;
    }
    
    .description {
        display: flex;
        align-items: center;
        align-self: center;
    }
    
    .lead__title {
        font-size: 45px;
        line-height: 45px;
        margin: 26px 0 0 26px;
    }
    
    .lead__text {
        margin: 20px 0 0 26px;
    }
    
    .lead-nav__item {
        padding: 14px;
        font-size: 12px;
        text-align: center;
    }
    
    .lead-nav__img, .adress__item--center {
        display: none;
    }
}

 
@media (min-width: 1100px) and (max-width: 1297px) {
    .lead-nav__item {
        padding: 14px;
        font-size: 12px;
    }
    
    .lead-nav__img {
        width: 40px;
    }

}


@media (min-width: 2150px) {
    body {
        width: 50%;
        position: relative;
    }
}

